.order-status.status-paymentonsite {
  background: #c6e3dd;
  color: #2b5546;
}

.widefat .column-wc_actions a.paymentonsite:after{
  content: "\f310" !important;
  background: #c6e3dd;
  color: #2b5546;
}
