.order-status.status-paymentonsite {
  background: #f8dda7;
  color: #94660c;
}

.widefat .column-wc_actions a.paymentonsite:after{
  content: "\f310" !important;
  background: #f8dda7;
  color: #94660c;
}
